@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Exo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




.navbar {
  @apply
  grid grid-cols-5
  bg-gray-300/50 items-center border-white xl:border-r border-y xl:rounded-r-gen
  fixed bottom-0 xl:grid-cols-1 xl:left-0 align-middle	
  w-full xl:w-20 xl:h-[80%]   xl:grid-rows-4 grid-cols-4
  xl:py-32
  xl:inset-y-0 xl:my-auto 
}

.imageBG {
  @apply
  h-14 w-14 p-3 cursor-pointer rounded-full
  hover:bg-gray-300/80 focus:bg-cata-100 mx-auto
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
