@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Exo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply
  fixed top-0 w-full px-5 sm:px-24 py-3 rounded z-20 backdrop-blur-md
}


.wrap {
  @apply
  flex flex-wrap justify-between items-center
}

.navbar {
  @apply
  grid grid-cols-5
  bg-gray-300/50 items-center border-white xl:border-r border-y xl:rounded-r-gen
  fixed bottom-0 xl:grid-cols-1 xl:left-0 align-middle	
  w-full xl:w-20 xl:h-[80%] xl:grid-rows-4 grid-cols-4
  xl:py-20  xl:inset-y-0 xl:my-auto 
}

.imageBG {
  @apply
  h-14 w-14 p-3 cursor-pointer rounded-full
  hover:bg-gray-300/80 focus:bg-cata-100 mx-auto
}

.carButton {
  @apply
  absolute z-10 top-1/2 hover:bg-gray-300/50 rounded-full h-14 w-14 grid items-center text-center 
}

.card0 {
  @apply
  mx-5 md:mx-24 
  bg-gray-300/20 border-white border
  rounded-gen
  grid grid-rows-6 
  my-20 xl:my-0 h-[fit] xl:h-[80vh]
}

.card0 {
  @apply
  xl:grid-rows-1
  grid-cols-12 
}

.propDashboard {
  @apply
  rounded-gen col-span-10 border p-5 border-white  
  grid grid-cols-3 gap-5 overflow-auto h-full scrollbar-hide
}

.propCard {
  @apply 
  rounded-gen
  border border-white 
  p-3 h-96
}

.daoMembers {
  @apply
  rounded-gen col-span-2 p-3
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
